{
    "vim.vimrc.enable": true,
    "vim.vimrc.path": "$HOME/.vimrc",
    "vim.useCtrlKeys": false,
    "workbench.colorTheme": "One Dark Pro Darker",
    "oneDarkPro.bold": true,
    "editor.fontFamily": "'JetBrains Mono', 'Droid Sans Mono', 'monospace', monospace",
    "editor.fontSize": 15,
    "editor.lineHeight": 1.7,
    "editor.cursorStyle": "block",
    "editor.links": false,
    "editor.renderWhitespace": "trailing",
    "editor.accessibilitySupport": "off",
    "editor.allowVariableLineHeights": false,
    "editor.cursorBlinking": "smooth",
    "editor.fontVariations": false,
    "editor.inlineSuggest.minShowDelay": 10
}
