gui:
  theme:
    lightTheme: false
    activeBorderColor:
      - magenta
      - bold
    inactiveBorderColor:
      - white 
    selectedLineBgColor:
      - reverse
      - bold


# vim modline for yaml
# vim: ft=yaml ts=2 sw=2 sts=2 et
