chezmoi:template:left-delimiter=[[ right-delimiter=]]

[[- $profile := "" -]]
[[- if hasPrefix "rpi-node" .chezmoi.hostname -]]
    [[- $profile = "home-rpi" -]]
[[- else if eq .chezmoi.hostname "dl12" "dl14" "dl15" -]]
    [[- $profile = "home-supermicro" -]]
[[- else if eq .chezmoi.hostname "hp-11-ak1035nr" -]]
    [[- $profile = "home-laptop" -]]
[[- else if hasSuffix "kvm.hemen.home.arpa" .chezmoi.hostname -]]
    [[- $profile = "home-kvm" -]]
[[- else if hasPrefix "hkapadia-" .chezmoi.hostname -]]
    [[- $profile = "work-laptop" -]]
[[- else if hasSuffix "ec2.internal" .chezmoi.hostname -]]
    [[- $profile = "work-server" -]]
[[ end -]]

data:
  profile: [[ $profile ]]
diff:
  command: difft
  args:
    - --color
    - always
    - --display
    - side-by-side-show-both
    - --skip-unchanged
    - "{{ .Target }}"
    - "{{ .Destination }}"
  pager: cat
edit:
  command: vim
