This is a test file to try chezmoi functionality.

This is the first file added under chezmoi management with this content.

{{- if eq .profile "work-laptop" "work-server" }}
this is work content
{{- end }}
{{- if eq .profile "home-laptop" "home-server" "home-rpi" }}
this is home content
{{- end }}
{{- if eq .profile "home-rpi" }}
This is rpi-only content
{{- end }}
{{ if (and (eq .chezmoi.hostname "rpi-node1") (eq .profile "home-rpi")) }}
This is rpi-node1 only content
{{ end }}

