"
" Vim configuration file
"

" Common Configuration
set number                                " Shows line numbers in left gutter
set numberwidth=4                         " Gutter width for numbers
set ignorecase smartcase                  " Case insensetive search; but becomes case sensetive if there is an upper case letter in search term
set modeline                              " Enable modeline to process # vim: filetype=sh etc.... settings when opening files


" Set whitespace and tab settings
set tabstop=2
set shiftwidth=2
set expandtab
set list listchars=tab:→\ ,trail:·


" Navigation Configuration
" Normal Model navigation keys for ergonomic hand placement
noremap ; l
noremap l k
noremap k j
noremap j h


" Visual Configuration
set term=xterm-ghostty
syntax on
syntax enable


" Statusline setup
set laststatus=2
